<div *ngFor="let article of articleData | paginate
: {
    itemsPerPage: 2,
    currentPage: pagination,
    totalItems: allStudents
  }">
    <tr class="d-flex justify-content-between ">
        <td style="width: 150px;  text-align: center; padding: 0;">{{article.libelle}}</td>
        <td style="margin-left: 50px;"> {{article.prix}} </td>
        <td style="margin-left: 115px; text-align: center;">{{article.stock}} </td>
        <td style="margin-left: 125px;">{{article.categorie}} </td>
        <td style="margin-left: 110px; ">
            <button class="btn btn-sm btn-warning" style="margin-right: 10px;" (click)="edit(article)">Edit</button>
            <button class="btn btn-sm btn-danger" value="{{article.id}}"
                (click)="onClickBtnButton($event) ">Supp</button>
        </td>
    </tr>
</div>
<div class="d-flex justify-content-center">
    <pagination-controls (pageChange)="renderPage($event)"></pagination-controls>
</div>